<!DOCTYPE html>
<html lang="pt-br">
  <head>
   
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <header id="inicio">
      <div class="primeiroItens">
        <div class="divLogo"><img src="/images/logo.png" alt="logo site"></div>
        <div id="divBusca">
          <input type="text" id="txtBusca" placeholder="Buscar..." />
          <button id="btnBusca">Buscar</button>
        </div>
        <div class="divUsuario"> 
          <img src="/images/user.png" alt="foto usuario">
          <h2>Nome usuário</h2>
         </div>
      </div>
    </header>

    <main class="produtos">
      <div class="slides">
        <img id="img1" src="/images/setaDireita.png">
        <img id="imagens" src="/images/imagensSlides.png" alt="">
        <img id="img2" src="/images/setaEsquerda.png">
      </div>

      <div id="primeirosProdutos">
        <img class="setaRight" src="/images/setaDireita.png">
        <section id="produto1">
          <div>
            <img src="/images/exemploImagem.png" alt="">
            <h2>Camiseta BaWSaw</h2>
            <h2>R$ 50,40</h2>
          </div>
          <div>
            <img src="/images/exemploImagem.png" alt="">
            <h2>Camiseta BaWSaw</h2>
            <h2>R$ 50,40</h2>
          </div>
          <div>
            <img src="/images/exemploImagem.png" alt="">
            <h2>Camiseta BaWSaw</h2>
            <h2>R$ 50,40</h2>
          </div>
          <div>
            <img src="/images/exemploImagem.png" alt="">
            <h2>Camiseta BaWSaw</h2>
            <h2>R$ 50,40</h2>
          </div>
          <div>
            <img src="/images/exemploImagem.png" alt="">
            <h2>Camiseta BaWSaw</h2>
            <h2>R$ 50,40</h2>
          </div>
        </section>
        <img class="setaLeft" src="/images/setaEsquerda.png">
      </div>

      <div id="segundoProdutos">
        <img class="setaRight" src="/images/setaDireita.png">
        <section id="produto1">
          <div>
            <img src="/images/exemploImagem.png" alt="">
            <h2>Camiseta BaWSaw</h2>
            <h2>R$ 50,40</h2>
          </div>
          <div>
            <img src="/images/exemploImagem.png" alt="">
            <h2>Camiseta BaWSaw</h2>
            <h2>R$ 50,40</h2>
          </div>
          <div>
            <img src="/images/exemploImagem.png" alt="">
            <h2>Camiseta BaWSaw</h2>
            <h2>R$ 50,40</h2>
          </div>
          <div>
            <img src="/images/exemploImagem.png" alt="">
            <h2>Camiseta BaWSaw</h2>
            <h2>R$ 50,40</h2>
          </div>
          <div>
            <img src="/images/exemploImagem.png" alt="">
            <h2>Camiseta BaWSaw</h2>
            <h2>R$ 50,40</h2>
          </div>
        </section>
        <img class="setaLeft" src="/images/setaEsquerda.png">
      </div>
      <button id="botao">mostrar mais...</button>
    </main>
    <footer>
      <div id="adress">
        <h2>Rua: zequinha Luiz</h2>
      </div>
      <div id="entregas">
        <h2>Entregamos em Itajubá e Piranguinho</h2>
      </div>
      <div class="socialMedia"> 
        <a id="setaCima" href="#inicio"><img src="/images/setaCima.png" alt=""></a>
        <h2>Redes sociais</h2>
        <a href="https://twitter.com/" target="blank"><img id="idTwitter" src="/images/twitter.png"></a>
        <a href="https://pt-br.facebook.com/" target="blank"><img id="idFace" src="/images/facebook.png"></a>
        <a href="https://www.linkedin.com/home" target="blank"><img id="idLinkedin" src="/images/linkedin.png"></a>
        <a href="https://www.instagram.com/?hl=pt-br" target="blank"><img id="idInsta" src="/images/instagram.png"></a>
      </div>
    </footer>
  </body>
</html>
