<!DOCTYPE html>
<html lang="pt-br">
  <head>
   
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <div class="primeiroItens">
        <div class="divLogo"><img src="/images/logo.png" alt="logo site"></div>
        <div id="divBusca">
          <input type="text" id="txtBusca" placeholder="Buscar..." />
          <button id="btnBusca">Buscar</button>
        </div>
        <div class="divUsuario"> 
          <img src="/images/user.png" alt="foto usuario">
          <h2>Nome usuário</h2>
         </div>
      </div>
      <div class="slides">
        <h2 id="h2Promocao">Promoções clique para ver:</h2>
        <a id="produtoPromocao" href="#">Camiseta</a>
      </div>
    </header>

    <main class="produtos">
      <div id="primeirosProdutos">

      </div>
      <div id="segundoProdutos">
        
      </div>
    </main>
    <footer>
      <div class="rodape"></div>
    </footer>
  </body>
</html>
