#produtosCarrinho{
    box-sizing: content-box;
    display: grid;
    grid-template-columns: 65% 35%;
    margin: 20px;
    min-height: 320px;
}
#listaProdutos, #dadosEnvio{
    border: solid 1px black;
    background-color: #d3d3d3;
    position: relative;
    margin-right: 10px;
}

#escolhendoCidade{
    text-align: center;
}

.city{
    box-sizing: content-box;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 5% 100%;
    position: relative;
    left: 2%;
    max-width: 420px;
}
#p1{
    height: 200px;
    margin-top: 15px;
} 
#imgP1{
    max-width: 100px;
    max-height: 100px;
    position: relative;
    left: 35%;
}
#desc{
    position: relative;
    left: 45%;
    top: -100px;
    font-size: 18px;
}
#p1 a{
    font-size: 14px;
    color: rgb(93, 83, 231);
    position: relative;
    padding-right: 10px;
    left: 20%;
    text-decoration: none;
}

