body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:rgba(230, 207, 207, 0.596);
  position: relative;
}

header{
  height: auto;
  widows: auto;
  background-color: black;
  color: white;
  margin-bottom: 0px;
}

.primeiroItens{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25%;
}

.divLogo img{
  left: 50px;
  height: 150px;
  border-radius: 55px;
  position: relative;
  top: 1px;
}

/* caixa de pesquisa*/

#divBusca{
  background-color:#E0EEEE;
  border:solid 2px #5F9EA0;
  border-radius:10px;
  position: relative;
  top: 15px;
  /* width:300px; */
  /* height:32px; */
}

#txtBusca{
  background-color:transparent;
  padding-left:5px; 
  font-size:18px;
  border:none;
  height:30px;
  width:191px;
}
 
#btnBusca{
  border:none;
  float:right;
  height:32px;
  border-radius:0 7px 7px 0;
  width:70px; 
  font-weight:bold; 
  background:#5F9EA0; 
}
 
#divBusca img{
  float:left;
}

.divUsuario{
  right: 40px;
  height: 30px;
  position: relative;
  top:0px;
}

.divUsuario img{
  height: 60px;
  background-color: yellowgreen;
  border-radius: 25px;
  position: relative;
  top: -5px;
  right: 70px;
}

.divUsuario h2{
  font-size: large;
  position: relative;
  left: 5px;
  top: -50px;
}

main{
  height: auto;
  padding-bottom: 55px;
}

#slides{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}
#imagens{
  width: auto;
}
#img1{
  left: 5px;
  position: relative;
  top: 150px;
}
#img2{
  position: relative;
  top: -150px;
  left: 1335px;
}

#primeirosProdutos, #segundoProdutos{
  margin: 40px;
  height: auto;
  background-color: darkgray;
  display: flex;
  /* grid-template-columns: 5% 90% 5%; */
  align-items: center;
  justify-content: unset;
}


#produto1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#produto1 div{
  margin: 10px;
  background-color: white;
  width: 20%;
  box-sizing: border-box;
  padding: 10px;
}
#produto1 img{
  width: 90%;
  height: 70%;
}
#produto1 h2{
  text-align: center;
}
.setaRight, .setaLeft{
  position: relative;
  top: 40%;
}
.setaLeft{
  left: 6px;
}
#botao{
  background-color: yellow;
  position: relative;
  left: 600px;
}
/* rodape */
footer{
  height: auto;
  background-color: black;
  padding-top: 20px;
  color: white;
  font-size: 20px;
  display: grid;
  grid-template-columns: 500px 450px auto;
}
.socialMedia{
  height: auto;
  display: inline-flexbox;
  align-items: center;
  justify-content: end;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px;
}
#setaCima{
  text-decoration: none;
  position: relative;
  left: 250px;
}