<div id="product">
    <aside>
      <img id="frenteMini" src="/images/camisaFrente.png" onclick="mudaImagem(1)" alt="">
      <img id="costaMini" src="/images/camisaCosta.png" onclick="mudaImagem(2)"  alt="">
    </aside>
    <div>
      <img ed-imagem id="trocandoImagem" src="/images/camisaFrente.png" alt="">
    </div>
    <div>
      <h2>Camisa executiva Kelly</h2>
      <h2>Código: Pl456</h2>
      <img class="star" src="/images/estrelaAntesAvaliacao.png" onclick="avaliacaoProduto(1)" alt="">
      <img class="star" src="/images/estrelaAntesAvaliacao.png" onclick="avaliacaoProduto(2)" alt="">
      <img class="star" src="/images/estrelaAntesAvaliacao.png" onclick="avaliacaoProduto(3)" alt="">
      <img class="star" src="/images/estrelaAntesAvaliacao.png" onclick="avaliacaoProduto(4)" alt="">
      <img class="star" src="/images/estrelaAntesAvaliacao.png" onclick="avaliacaoProduto(5)" alt="">
    
      <h2>R$ 50,00</h2>
      <h3>Dividimos em três vezes</h3>
      <h3>Tamanho de 36 a 44</h3>

      <button id="botao3"> Adicionar ao Carrinho</button>
    </div>
</div>
<div id="infoPagamento">
  <div id="info">
    <h2>Características</h2> <br>
    <p>CAMISA MANGA LONGA COM BOTOES FUNCIONAL </br>
        TECIDO 100% VISCOSE CORES-PRETA, CREME CORAL </br>
        O CLIENTE PODE ESCOLHER NAS CORES DESEJADAS. </br>
    </p></br> 

    <h2>Descrição</h2></br> 

    <p>PARA COMPRA MAIS DE UMA PEÇA VOCÊ PRECISA </br>
        ADICIONAR AO CARINHO DE COMPRAS E SELECIONAR  </br>
         COR E TAMANHO DE CADA PEÇA, POIS ESTE PRODUTO  </br> 
         SE ENCONTRA EM ESTOQUE.
    </p></br> 

    <h2>Tamanho</h2> </br> 

    <p>
        TAMANHOS- P\M\G\GG
    </p> </br> 

    <h2>Medidas</h2> </br> 

    <p>
    BUSTO P. 100CM / QUADRIL 106CM / CIRCUNFERENCIA DO BRAÇO 36CM </br> COMPRIMENTO FRENTE 62 CM
    </p> </br> 

    <P>
        BUSTO M . 104CM / QUADRIL 110CM / CIRCUNFERENCIA DO BRAÇO 38CM </br>  COMPRIMENTO FRENTE 63CM
    </P> </br> 

    <P>
        BUSTO G. 108CM / QUADRIL 114CM /CIRCUNFERENCIA DO BRAÇO 42CM </br>  COMPRIMENTO FRENTE 64CM
    </P> </br> 

    <P>
        BUSTO GG. 114CM / QUADRIL 1120CM /CIRCUNFERENCIA DO BRAÇO 46CM  </br> COMPRIMENTO FRENTE 68CM
    </P></br> 

  </div>
  <div id="pagamento">
    <h2 id="h2Pagamento">Forma de pagamento</h2>
    <img id="cartao" src="/images/cartoes.jpg" alt="imagens cartoes de credito">
    <img id="boleto" src="/images/Boleto.png" alt="">
  </div>
</div>

<div id="infoLoja">
  <div id="vendedor">
    <h2 id="vendedor">Nome do vendedor</h2>
    <img src="/images/user.png" alt="" id="fotoPerfil">
    <button id="botao2">Editar Perfil</button>
  </div>
  <div id="nomeLoja">
    <h2 >Nome da Loja</h2>
    <video id="meuVideo" width="300" height="220" autoplay controls controlslist="nodownload">
        <source src="/video/movie.mp4" type="video/mp4">
        <source src="/public/video/movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
  </div>
</div>

<div id="localizacao">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1844.049427658752!2d-45.4534878350038!3d-22.42530477522126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cb7cac5c3f5b77%3A0xb5dbc7307222f7ac!2sR.%20Cel.%20Renno%2C%207%20-%20Pinheirinho%2C%20Itajub%C3%A1%20-%20MG%2C%2037500-050!5e0!3m2!1sen!2sbr!4v1580781252660!5m2!1sen!2sbr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

