<div id="produtosCarrinho">
    <div id="listaProdutos">
        <div id="p1">
            <img id="imgP1" src="/images/camisaFrente.png" alt="">
            <h2 id="desc">Camisa Executiva Kelly</h2>
            <h2 id="desc">Preço: R$ 50,00</h2>
            <h2 id="desc">Tamaho: XX</h2>
            <h2 id="desc">Quantidade: x</h2>
            <div>
                <a href="#">Mais Produtos do Vendedor</a>
                <a onclick="linksCarrinho()" href="http://localhost:3000">Voltar a Página Inicial</a>
                <a href="#">Salvar para depois</a>
                <a href="#">Exluir</a>             
            </div>
        </div>
    <hr>
    </div>
    <div id="dadosEnvio">
            <h2 id="escolhendoCidade">Escolha sua cidade</h2>
            <div class="city">
                <input type="radio" name="cidade" id="city">
                <h2>Itajubá. (Frete: R$ 5,00)</h2>
            </div>
            <div class="city">
                <input type="radio" name="cidade" id="city">
                <h2>Piranguinho. (Frete: R$ 15,00)</h2>
            </div>
            <hr>
            <div class="city">
                <input type="radio" name="pag">
                <h2>Boleto ( Acréscimo de R$ 2,00</h2>
                <input type="radio" name="pag">
                <h2>Cartão de Crédito ( Acréscimo de R$ 5,00 )</h2>
            </div>
    </div>

</div>